In [1]:
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt

In [31]:
df=pd.read_csv('../data/사고 피해규모 정보_2021년.csv')

In [46]:
#컬럼 이름 바꾸기

df=df.rename(columns={'TOXICITY_DIST':'독성거리'})
df=df.rename(columns={'ACDNT_TYPE':'사고유형'})
df=df.rename(columns={'DMGE_TYPE':'피해유형'})
df=df.rename(columns={'PIPE_ACDNT_DMGE_ARA':'배관사고 피해면적'})
df=df.rename(columns={'CO_INFO':'회사정보'})
df=df.rename(columns={'RDA_DIST':'방사거리'})
df=df.rename(columns={'EXPS_DIST':'폭발거리'})
df=df.rename(columns={'PIPE_DIA':'배관지름'})
df=df.rename(columns={'PIPE_LT':'배관길이'})
df=df.rename(columns={'PIPE_MART_CODE':'배관재료'})
df=df.rename(columns={'PIPE_OPRT_TP':'배관 운전온도'})
df=df.rename(columns={'PIPE_PRESSURE':'배관압력'})
df=df.rename(columns={'PIPE_FLRT':'배관유량'})
df=df.rename(columns={'PIPE_INSTL_YEAR':'배관설치연도'})
df=df.rename(columns={'PIPE_NO':'배관번호'})

In [37]:
#필요없는 컬럼 삭제하기

df=df.drop(['ACDNT_DMGE_SCALE_UQNUM'],axis=1)

In [47]:
df

,배관번호,회사정보,사고유형,독성거리,방사거리,폭발거리,피해유형,배관사고 피해면적,PIPE_ACDNT_DMGE_ARA_RANK,배관지름,배관길이,PIPE_MATR_CODE,PIPE_COAT_MATR_CODE,PIPE_DESGN_THICKNESS,배관 운전온도,PIPE_INNER_FUD_STA_CODE,MATR_CODE,배관압력,배관유량,배관설치연도
0,110,회사1,rupture,0.000,118.9590,167.4820,TOXIC,0.000000,NaN,100,1321.31,1,2,5.9,20,2,7,"{0,10)","{50,60)",1977
1,110,회사1,rupture,0.000,118.9590,167.4820,RADIATION,25428.065750,NaN,100,1321.31,1,2,5.9,20,2,7,"{0,10)","{50,60)",1977
2,110,회사1,rupture,0.000,118.9590,167.4820,EXPLOSION,0.000000,NaN,100,1321.31,1,2,5.9,20,2,7,"{0,10)","{50,60)",1977
3,110,회사1,hole,0.000,102.2020,132.9860,TOXIC,0.000000,NaN,100,1321.31,1,2,5.9,20,2,7,"{0,10)","{50,60)",1977
4,110,회사1,hole,0.000,102.2020,132.9860,RADIATION,18335.731880,NaN,100,1321.31,1,2,5.9,20,2,7,"{0,10)","{50,60)",1977
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12712,500682,회사10,hole,122.671,69.3812,79.2002,RADIATION,6299.461244,D,100,339.00,1,2,6.0,20,2,6,"{0,10)","{100,110)",1998
12713,500682,회사10,hole,122.671,69.3812,79.2002,EXPLOSION,0.000000,A,100,339.00,1,2,6.0,20,2,6,"{0,10)","{100,110)",1998
12714,500682,회사10,pinhole,0.000,10.0237,0.0000,TOXIC,0.000000,A,100,339.00,1,2,6.0,20,2,6,"{0,10)","{100,110)",1998
12715,500682,회사10,pinhole,0.000,10.0237,0.0000,RADIATION,90.441668,B,100,339.00,1,2,6.0,20,2,6,"{0,10)","{100,110)",1998
12716,500682,회사10,pinhole,0.000,10.0237,0.0000,EXPLOSION,0.000000,A,100,339.00,1,2,6.0,20,2,6,"{0,10)","{100,110)",1998

In [54]:
#사고유형 별 칼럼 평균

mean_type=df.groupby('사고유형').mean()
mean_type

,배관번호,독성거리,방사거리,폭발거리,배관사고 피해면적,배관지름,배관길이,PIPE_MATR_CODE,PIPE_COAT_MATR_CODE,PIPE_DESGN_THICKNESS,배관 운전온도,PIPE_INNER_FUD_STA_CODE,MATR_CODE,배관설치연도
사고유형,,,,,,,,,,,,,,
hole,431088.942675,132.152773,114.925498,840.434303,21173.098801,120.233546,732.589108,1.0,2.0,7.28966,18.830149,1.853503,5.590234,1954.52017
pinhole,431095.872611,77.371301,43.531915,150.967765,7637.086907,120.233546,732.589108,1.0,2.0,7.28966,18.830149,1.853503,5.590234,1954.52017
rupture,431088.942675,140.121981,123.610282,130.069351,23535.246532,120.233546,732.589108,1.0,2.0,7.28966,18.830149,1.853503,5.590234,1954.52017

In [56]:
#회사정보 별 칼럼 평균

mean_coinfo=df.groupby('회사정보').mean()
mean_coinfo

,배관번호,독성거리,방사거리,폭발거리,배관사고 피해면적,배관지름,배관길이,PIPE_MATR_CODE,PIPE_COAT_MATR_CODE,PIPE_DESGN_THICKNESS,배관 운전온도,PIPE_INNER_FUD_STA_CODE,MATR_CODE,배관설치연도
회사정보,,,,,,,,,,,,,,
회사1,395968.794393,0.000000,97.600162,111.378046,5327.838375,100.000000,696.464673,1.0,2.0,5.900000,20.000000,2.000000,7.000000,1982.700935
회사10,762107.963636,140.237725,88.132777,89.263369,7712.948504,126.363636,552.703727,1.0,2.0,6.580000,20.000000,2.000000,6.000000,1987.981818
회사2,67864.500000,1.833333,25.065344,43.416975,219.776366,97.916667,482.360000,1.0,2.0,40.000000,40.000000,1.000000,3.000000,1987.166667
회사3,736.000000,0.000000,16.207090,26.411503,186.971314,139.285714,579.985714,1.0,2.0,6.871429,20.000000,1.000000,3.000000,1994.571429
회사4,359.193182,406.705117,86.347119,126.974376,68908.816910,145.454545,345.069318,1.0,2.0,6.870227,9.659091,1.522727,1.477273,1920.659091
회사5,444619.428571,0.000000,220.510286,103.693000,11436.184354,117.857143,1119.225714,1.0,2.0,6.409286,24.214286,2.000000,6.142857,1996.000000
회사6,500267.000000,0.000000,23.816314,5.314663,0.000000,50.000000,824.762500,1.0,2.0,8.740000,20.000000,1.000000,5.000000,1993.000000
회사7,829.153846,59.803718,129.168395,10274.092627,4330.573390,150.000000,264.005385,1.0,2.0,7.100000,20.000000,2.000000,1.000000,1996.000000
회사8,500268.387500,35.984779,90.504420,28.770984,3331.120980,103.500000,1310.903250,1.0,2.0,5.831250,20.750000,2.000000,8.425000,1864.025000
회사9,804164.062500,0.000000,123.025244,159.245615,7778.565718,150.000000,1217.013437,1.0,2.0,7.100000,20.000000,2.000000,7.000000,1999.000000

In [58]:
#배관번호 별 칼럼 평균

mean_pipeno=df.groupby('배관번호').mean()
mean_pipeno

,독성거리,방사거리,폭발거리,배관사고 피해면적,배관지름,배관길이,PIPE_MATR_CODE,PIPE_COAT_MATR_CODE,PIPE_DESGN_THICKNESS,배관 운전온도,PIPE_INNER_FUD_STA_CODE,MATR_CODE,배관설치연도
배관번호,,,,,,,,,,,,,
0,0.833333,29.305117,41.310617,318.341891,100.0,776.27,1.0,2.0,40.00,40.0,1.0,3.0,1996.0
4,0.000000,78.493800,165.729800,1531.785267,150.0,24.25,1.0,2.0,7.10,20.0,2.0,7.0,1999.0
11,0.000000,107.870833,199.971500,4534.763319,200.0,120.46,1.0,2.0,8.18,10.0,2.0,1.0,1994.0
13,0.000000,135.309000,325.459000,5110.092070,200.0,581.09,1.0,2.0,8.18,10.0,2.0,1.0,1991.0
14,0.000000,106.268833,177.061067,4298.095518,200.0,207.69,1.0,2.0,8.18,10.0,2.0,1.0,1991.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
830143,0.000000,216.450667,175.081333,23656.728050,150.0,439.55,1.0,2.0,7.10,20.0,2.0,7.0,1999.0
830183,0.000000,160.035900,107.390633,14263.325565,100.0,11.04,1.0,2.0,5.90,20.0,2.0,7.0,1977.0
830192,0.000000,184.747667,122.503400,18266.066544,100.0,225.56,1.0,2.0,5.90,20.0,2.0,7.0,1977.0
830245,0.000000,97.592133,210.266767,2552.612077,150.0,50.25,1.0,2.0,7.10,20.0,2.0,7.0,1999.0
830253,0.000000,100.459567,215.196600,2759.418094,150.0,60.20,1.0,2.0,7.10,20.0,2.0,7.0,1999.0

In [60]:
plt.figure(figsize=(8,5))
plt.title('사고유형 별 칼럼 평균')

plt.show()

TypeError: bar() missing 1 required positional argument: 'height'

In [61]:
type_toxicity=df[['사고유형','독성거리']]

In [62]:
type_toxicity

          사고유형     독성거리
0      rupture    0.000
1      rupture    0.000
2      rupture    0.000
3         hole    0.000
4         hole    0.000
...        ...      ...
12712     hole  122.671
12713     hole  122.671
12714  pinhole    0.000
12715  pinhole    0.000
12716  pinhole    0.000

[12717 rows x 2 columns]

In [63]:
type_rda=df[['사고유형','방사거리']]

In [64]:
type_rda

          사고유형      방사거리
0      rupture  118.9590
1      rupture  118.9590
2      rupture  118.9590
3         hole  102.2020
4         hole  102.2020
...        ...       ...
12712     hole   69.3812
12713     hole   69.3812
12714  pinhole   10.0237
12715  pinhole   10.0237
12716  pinhole   10.0237

[12717 rows x 2 columns]